body{
    background-color: powderblue;
}

h1 {
    color: red;
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

li.special{
    color: orange;
    font-weight: bold;
    
}

li em{
    color: rebeccapurple;
}

.center{
    text-align: center;
}

.centerImage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 500px;
  min-height: 50px;
}

.centerh{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
  padding: 10px;
}

.imagecontainer{
    display: flex;
    height: 75%;
    justify-content: center;
}

.imagecontainer.image{
    flex-direction: row;
    display: flex;
    height: 75%;
}

div.sideby{
    display: inline-block;
    max-width: 30%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
}


#beginlist{
    padding: 10px;
}


